/* entire document */
body {
  background-color: rgb(149, 92, 54);
}

/* header */
header {
  background-color: rgb(52, 199, 124);
  height: 200px;
}

nav {
  background-color: rgb(98, 161, 147);
  width: 960px;
  margin: auto;
}

nav img {
  max-width: 300px;
}

/* main */

/* TABLE*/
table, thead, tfoot {
  border-spacing: 5px;
  border: medium solid black;
  margin: 25px auto;
}

thead {
  font-weight: bolder;
}

th, td {
  padding: 10px;
  border: 1px solid rgb(20, 54, 28);
}

th {
  background-color: rgba(20, 54, 28, .5);
  font-weight: bold;
}

td {
  background-color:  rgba(104, 68, 34, 0.5);
}

/* footer */
