/* entire document */
body {
  background-color: white;
  margin: justify;
}

/* header */
header {
  font-size:50px;
  background-color: rgb(98, 161, 147);
  border: 5px solid black;
  height: 200px;
  text-align: center;
  padding: 20px;
}

nav {
  font-size: 20px;
  background-color: rgb(98, 161, 147);
  margin: auto;
  border-top: 3px solid black;
  align-items: stretch;
  margin: 10px;
}

nav img {
  max-width: 300px;
  vertical-align: middle
}


/* main */

section {
  width: 960px;
}

#first {
  background-color: #34C77C;
}
#second {
  background-color: #FAE5BE;
}
#third {
  background-color: #C79534;
}
#fourth {
  background-color: #955C36;
}


/* TABLE*/
table {
  border-spacing: 5px;
  border: medium solid black;
  margin: 25px auto;
}

thead, tfoot {
  border-spacing: 5px;
  border: medium solid black;
  margin: 25px auto;
}

th {
  font-weight: bold;
  border: 1px solid black;
  padding: 10px;
}

thead {
  background-color: #C79534;
  font-weight: bolder;
}

tbody th {
  background-color: #34C77C;
  border-right: 1px solid black;
}

tbody td {
  background-color: #FAE5BE;
}

td {
  padding: 10px;
  border: 1px solid black;
}

tfoot {
  background-color: #C79534;
  font-weight: bolder;
}

/* footer */
